@use "bulma/sass/utilities/mixins"

.app-two-column
  display: flex
  // default to menu above content
  flex-direction: column
  // but display side-by-side if enough space
  @include mixins.tablet
    flex-direction: row

#app-nav
  @include mixins.desktop
    min-width: 12em

#app-content
  flex-direction: row
  width: 100%
  @include mixins.tablet
    margin-left: 2em

.app-card
  margin-bottom: 1em
  @include mixins.mobile
    margin-top: 1em

  @include mixins.tablet
    padding: 2em
    border-radius: .3em
    box-shadow: var(--default-shadow)
    // allow using "notification" class to override color styles
    &:not(.notification)
      background-color: white

  width: 100%

// for content-heavy things like blogs

#content-main
  max-width: 1152px

#content-nav
  @include mixins.desktop
    min-width: 14em
  @include mixins.tablet-only
    min-width: 8em
