beautifulsoup4
requests
pandas
yfinance
selenium
webdriver-manager
pyinstaller
pandas
PySide6
numpy
markdown
reportlab
pdf_generator
plotly
pyinstaller
matplotlib
os
requests
zipfile
sys
reportlab
mplcursors