{% load i18n %}
<aside class="menu is-hidden-mobile">
  <ul class="menu-list">
<li>
  <a class="navbar-item is-tab  {% if active_tab == 'dashboard' %}is-active{% endif %}" href="{% url 'web:home' %}">
    <span class="pg-icon"><i class="fa fa-home"></i></span><span class="is-hidden-tablet-only">{% translate "Dashboard" %}</span>
  </a>
</li>
<li>
  <a class="navbar-item is-tab {% if '/pegasus/' in request.path %}is-active{% endif %}" href="{% url 'pegasus_examples:examples_home' %}">
    <span class="pg-icon"> <i class="fa fa-th-large"></i></span>
    <span class="is-hidden-tablet-only">{% translate "Examples Gallery" %}</span>
  </a>
</li>
  </ul>
</aside>