{% load i18n %}
<aside class="menu is-hidden-mobile">
  <ul class="menu-list">
<li>
  <a class="navbar-item is-tab  {% if active_tab == 'budgeting' %}is-active{% endif %}" href="{% url 'solutions:budgeting' %}">
    <span class="pg-icon"><i class="fa fa-home"></i></span><span class="is-hidden-tablet-only">{% translate "Budgeting" %}</span>
  </a>
</li>
    <li>
  <a class="navbar-item is-tab  {% if active_tab == 'subscription_demo' %}is-active{% endif %}" href="{% url 'subscriptions:subscription_demo' %}">
    <span class="pg-icon"><i class="fa fa-desktop"></i></span><span class="is-hidden-tablet-only">Debt Consolidation</span>
  </a>
</li>
    <li>
  <a class="navbar-item  is-tab {% if active_tab == 'ai-chat' %}is-active{% endif %}" href="{% url 'chat:chat_home' %}">
    <span class="pg-icon"><i class="fa-solid fa-robot"></i></span>
    <span class="is-hidden-tablet-only">{% translate "Investment & Retirement" %}</span>
  </a>
</li>
  </ul>
</aside>