{% load i18n %}
{% load wagtailcore_tags %}

<nav aria-label="main navigation" class="navbar has-shadow" role="navigation">
  <div class="container">
    <!-- Brand / Logo on the left -->
    <div class="navbar-brand">
      <a
              class="navbar-item is-tab {% if request.path == '/' %}is-active{% endif %}"
              href="{% url 'web:home' %}"
      >
        {{ project_meta.NAME }}
      </a>
      <a
              aria-expanded="true"
              aria-label="menu"
              class="navbar-burger burger"
              data-target="navMenu"
              role="button"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <!-- Main navbar menu -->
    <div class="navbar-menu" id="navMenu">
      <!-- Centered links -->
      <div class="navbar-start is-flex is-justify-content-center" style="flex:1;">
         {% if not user.is_authenticated %}
        <a class="navbar-item is-tab" href="{% url 'web:features_page' %}">
          Features
        </a>
        <a class="navbar-item is-tab" href="{% url 'web:categories_page' %}">
          Categories
        </a>
        <a class="navbar-item is-tab" href="{% url 'web:pricing_page' %}">
          Subscription
        </a>
        {% slugurl 'blog' as blog_url %}
        <a class="navbar-item is-tab {% if blog_url in request.path %}is-active{% endif %}" href="{{ blog_url }}">
          {% translate "Blog" %}
        </a>
          {% endif %}
    {% if user.is_authenticated %}
    <div class="navbar-end">
        <!-- Sidebar navigation dropdown -->
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
                <span>{% translate "Menu" %}</span>
            </a>
            <div class="navbar-dropdown is-right">
                {% block sidebar-nav %}
                    {% include "web/components/menu_menu_items.html" %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endif %}
      </div>
      <!-- Right side (user account / sign-up / sign-in) -->
      <div class="navbar-end">
        {% if user.is_authenticated %}
        <!-- Account dropdown -->
        {% if not user.is_anonymous %}
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
                <span>{% translate "Solutions" %}</span>
            </a>
          <div class="navbar-dropdown is-right">
            {% with True as hide_on_tablet %}
            {% include "web/components/solutions_menu_items.html" %}
            {% endwith %}
          </div>
        </div>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
                <span>{% translate "Categories" %}</span>
            </a>
          <div class="navbar-dropdown is-right">
            {% with True as hide_on_tablet %}
            {% include "web/components/categories_menu_items.html" %}
            {% endwith %}
          </div>
        </div>
                  <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
                <span>{% translate "Records" %}</span>
            </a>
          <div class="navbar-dropdown is-right">
            {% with True as hide_on_tablet %}
            {% include "web/components/records_menu_items.html" %}
            {% endwith %}
          </div>
        </div>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
                <span>{% translate "Account" %}</span>
            </a>
          <div class="navbar-dropdown is-right">
            {% with True as hide_on_tablet %}
            {% include "web/components/account_menu_items.html" %}
            {% endwith %}
              {% if user.is_superuser %}
            <ul class="menu-list">
            {% include "web/components/admin_menu_items.html" %}
            </ul>
        {% endif %}
          </div>
        </div>
        {% endif %}

                {% if user.is_superuser %}
                <!-- Admin dropdown for superusers -->
                <div class="navbar-item has-dropdown is-hoverable is-hidden-tablet">
                  <a class="navbar-link">{% translate "Admin" %}</a>
                  <div class="navbar-dropdown is-right">
                    {% include "web/components/admin_menu_items.html" %}
                  </div>
                </div>
                {% endif %}
        {% else %}
        <!-- Sign Up / Sign In -->
        <div class="navbar-item">
          <div class="buttons">
            <a
                    class="button is-primary is-outlined"
                    href="{% url 'account_signup' %}"
            >
              {% translate "Sign Up" %}
            </a>
            <a
                    class="button is-text"
                    href="{% url 'account_login' %}"
            >
              {% translate "Sign In" %}
            </a>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</nav>