<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Financial Documents</title>
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    {% block extra_head %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}

    <script>
        document.body.addEventListener('htmx:configRequest', (event) => {
            event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        })
    </script>
</body>
</html>